*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 2s all ease;
}
.a{
    text-align: center;
    position: relative;
    left: 330px;
    bottom: -90px;
    text-shadow: 3px 3px 3px pink;
    
}
#b{
    background:linear-gradient(90deg, rgba(176,174,210,1) 13%, rgba(101,101,216,1) 37%, rgba(157,31,223,0.9828279357025589) 80%);
    width: 350px;
    height: 500px;
    position: relative;
    bottom: -100px;
    left: 500px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 8px 5px gray;
    
}
#n1{
    text-align: center;
    position: relative;
    bottom: -20px;
    text-shadow: 3px 3px 3px blue;

}
#n2{
    text-align: center;
    position: relative;
    bottom: -60px;
    text-shadow: 3px 3px 3px blue;

}
#num1{
    position: relative;
    bottom: -50px;
    left: 100px;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    
}
#num2{
    position: relative;
    bottom: -90px;
    left: 100px;
    border-radius: 5px 5px 5px 5px;
    width: 150px;
    height: 40px;
    text-align: center;
}
#res{
    text-align: center;
    position: relative;
    bottom: -120px;
    left: 10px;
    text-shadow: 3px 3px 3px black;
}
#a1{
    text-align: center;
    position: relative;
    bottom: -100px;
    left: 70px;
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}
#a5{
    text-align: center;
    position: relative;
    bottom: -150px;
    right: 80px;
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;

}
#a6{
    text-align: center;
    position: relative;
    bottom: -150px;
    right: 190px;
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;

}
#a7{
    text-align: center;
    position: relative;
    bottom: -100px;
    left: 195px;
    background: peru;
    width: 70px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;

}
