*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div{
 
}
#c1{
    width: 200px;
    height: 200px;
    background: red;
    border: 2px double black;
    box-shadow: 0px -5px 30px black;
    margin: 100px;
    padding: 50px;
}
#c2{
    width: 100cm;
    height: 80cm;
    background: black;
    border: 2px inset red;
    box-shadow: 3px -5px 30px black;
    margin: 200px;
    padding: 40px;
}
#c3{
    width: 500mm;
    height: 500mm;
    background: violet;
    border: 5px ridge blueviolet;
    box-shadow: 3px 5px 30px violet;
    margin: 300px;
    padding: 70px;
}
#c4{
    width: 1200q;
    height: 1000q;
    background: cyan;
    border: 5px outset white;
    box-shadow: -8px 5px 3px violet;
    margin: 60px;
    padding: 10px;
}
#c5{
    width: 30in;
    height: 20in;
    background: pink;
    border: 50px dashed green;
    box-shadow: 3px 5px 30px gray;
    margin: 100px;
    padding: 120px;
}
#c6{
    width: 200pc;
    height: 150pc;
    background: green;
    border: 20px solid orange;
    box-shadow: 3px 5px 30px gray;
    margin: 100px;
    padding: 120px;
}
#c7{
    width: 40pt;
    height: 50pt;
    background: green;
    border: 10px solid orange;
    box-shadow: 3px 5px 30px gray;
    margin: 10px;
    padding: 10px;
}
#c8{
    width: 10em;
    height: 10em;
    background: lightblue;
    border: 50px outset saddlebrown;
    box-shadow: 3px 5px 30px salmon;
    margin: 10px;
    padding: 120px;
}
#c9{
    width: 200ex;
    height: 100ex;
    background: saddlebrown;
    border: 57px outset peru;
    box-shadow: -3px -5px 30px salmon;
    margin: 10px;
    padding: 12 px;
}
#c10{
    width: 300ch;
    height: 20ch;
    background: rebeccapurple;
    border: 57px outset ghostwhite;
    box-shadow: -3px -5opx 1px salmon;
    margin: 10px;
    padding: 12 px;
}
#c11{
    width: 300rem;
    height: 100rem;
    background: rebeccapurple;
    border: 57px outset ghostwhite;
    box-shadow: -3px -5opx 1px salmon;
    margin: 10px;
    padding: 12 px;
}
#c10{
    width: 30%;
    height: 20%;
    background: rebeccapurple;
    border: 57px outset ghostwhite;
    box-shadow: -3px -5opx 1px salmon;
    margin: 10px;
    padding: 12 px;
}