*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    transition: 2s all ease;
}
.container{
    width: 90%;
    height: 100vh;
    background: blue;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 200px 40px auto 100px;
}
 header{
    background: yellow;
    display: block;
    grid-column: 1/3;
 }
 nav{
    background: red;
    grid-column: 1/4;
 }
 aside{
background: purple;
grid-column: 1/2;
 }
 main{
background: ghostwhite;
grid-column: 2/3;
grid-row: 3/4;
 }
 footer{
background: forestgreen;
grid-column: 1/3;
 }
 @media(width<= 550px){
    header{
        background: indigo;
    }
 }
 @media(width<= 550px){
    aside{
        background: purple;
        grid-column: 1/4;
    }
}
@media(width<= 550px){
    main{
        background: blueviolet;
        grid-column: 1/4;
    }
}