@font-face {
    font-family: hola;
    src: url(Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hola;
    transition:  2s all ease;
}
body{
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgba(102,110,255,1) 29%, rgba(214,59,193,0.9828279357025589) 68%, rgba(255,42,42,1) 100%);
}
a{
    display: block;
    color: #000;
    text-decoration: none;
    margin: 10px auto;
    height: 50px;
    width: 200px;
    background-color: white;
    padding: 13px;
    border-radius: 10px;
    border: solid peru;
}
a:hover{
    box-shadow: 0 0 5px white;
    border: solid peru;
    background: black;
    color: white;
    transform: scale(1.2);
}