#value{
    border: 20px dashed black;
    margin: 100px;
    padding: 120px;
    font-size: 200px;
}
#med{
    border: 5px solid black;
    margin: 100px;
    padding: 100px;
    font-size: 200px;
}
#num{
 font-size: 100px;   
}